<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="<%- data.pages[pageName].meta.robots %>">
  <title><%= data.pages[pageName].meta.title %></title>
  <meta name="format-detection" content="email=no, telephone=no, address=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:type" content="<%- data.pages[pageName].meta.og.type %>">
  <meta property="og:title" content="<%- data.pages[pageName].meta.og.title %>">
  <meta property="og:description" content="<%- data.pages[pageName].meta.og.description %>">
  <meta property="og:url" content="<%- data.pages[pageName].meta.og.url %>">
  <meta property="og:image" content="<%- data.pages[pageName].meta.og.image %>">
  <meta property="og:site_name" content="<%- data.pages[pageName].meta.og.siteName %>">
  <meta property="og:locale" content="ja_JP">
  <meta name="twitter:card" content="<%- data.pages[pageName].meta.twitter.card %>">
  <meta name="twitter:site" content="<%- data.pages[pageName].meta.twitter.site %>">
  <meta property="fb:app_id" content="<%- data.pages[pageName].meta.fb.appID %>">
  <link rel="shortcut icon" href="<%- data.rootPath %>/assets/img/favicon.ico">
  <link rel="apple-touch-icon" href="<%- data.rootPath %>/assets/img/apple-touch-icon.png">
  <link rel="canonical" href="<%- data.pages[pageName].meta.canonical %>">
  <link rel="stylesheet" href="<%- data.rootPath %>/assets/css/style.bundle.css">
</head>
<body>
  <div class="wrapper">
