<%_
  var rootPath = data.rootPath;
  var pageData = data.pages.company;
_%>
<%- include("../_components/_head", { rootPath, pageData }) _%>
<%- include("../_components/_header", { rootPath, pageData }) _%>
  <main>
    <div class="c-lower-hero">
      <div class="c-lower-hero__inner u-width--04">
        <div class="c-decoration--left --lower-hero"></div>
        <h1 class="c-lower-hero__heading">
          <div class="c-lower-hero__heading__ja">会社概要</div>
          <div class="c-lower-hero__heading__en">COMPANY</div>
        </h1>
        <picture class="c-lower-hero__image">
          <div class="c-lower-hero__decoration"></div>
          <source srcset="<%- rootPath %>/assets/img/company/hero.webp" type="image/webp">
          <img src="<%- rootPath %>/assets/img/company/hero.png" alt="">
        </picture>
      </div>
    </div>

    <nav>
      <ol class="c-breadcrumbs">
        <li class="c-breadcrumbs__list"><a href="<%- rootPath %>/">ホーム</a></li>
        <li class="c-breadcrumbs__list">会社概要</li>
      </ol>
    </nav>


    <section class="l-section --white">
      <div class="l-section__inner">
        <h2 class="c-heading --center">会社概要</h2>
        <table class="c-table u-width--03">
          <tr class="c-table__row">
            <th class="c-table__heading">
              社名
            </th>
            <td class="c-table__data">
              株式会社マイナビワークス
            </td>
          </tr>
          <tr class="c-table__row">
            <th class="c-table__heading">
              事業内容
            </th>
            <td class="c-table__data">
              労働者派遣事業／派13-307111 <br>
              有料職業紹介事業／13-ユ-308164 <br>
              求人・採用活動に関するコンサルティング <br>
              宣伝、広告、ピーアール業および広告代理店業 <br>
              ウェブコンテンツ、制作物等のデザインおよび制作業<br>
              ビジネスプロセス　<br class="u-br--lg">アウトソーシング
            </td>
          </tr>
          <tr class="c-table__row">
            <th class="c-table__heading">
              本社所在地
            </th>
            <td class="c-table__data">
              〒163-1527<br>
              東京都新宿区西新宿1-6-1　<br class="u-br--lg">新宿エルタワー27F
            </td>
          </tr>
          <tr class="c-table__row">
            <th class="c-table__heading">
              本社<br class="u-br--lg">電話番号
            </th>
            <td class="c-table__data">
              03-5909-1987
            </td>
          </tr>
          <tr class="c-table__row">
            <th class="c-table__heading">
              代表者
            </th>
            <td class="c-table__data">
              河原　輝篤
            </td>
          </tr>
          <tr class="c-table__row">
            <th class="c-table__heading">
              設立
            </th>
            <td class="c-table__data">
              2016年12月1日
            </td>
          </tr>
          <tr class="c-table__row">
            <th class="c-table__heading">
              創業
            </th>
            <td class="c-table__data">
              ダミーテキストが入ります。ダミーテキストが入ります。ダミーテキストが入ります。
            </td>
          </tr>
          <tr class="c-table__row">
            <th class="c-table__heading">
              従業員数
            </th>
            <td class="c-table__data">
              392名（2020年9月末時点）
            </td>
          </tr>
          <tr class="c-table__row">
            <th class="c-table__heading">
              資本金
            </th>
            <td class="c-table__data">
              1億円
            </td>
          </tr>
          <tr class="c-table__row">
            <th class="c-table__heading">
              関連会社
            </th>
            <td class="c-table__data">
              株式会社マイナビ
            </td>
          </tr>
          <tr class="c-table__row">
            <th class="c-table__heading">
              企業<br class="u-br--lg">ホームページ
            </th>
            <td class="c-table__data">
              <a href="https://mynavi-works.jp/" target="_blank">https://mynavi-works.jp/</a>
            </td>
          </tr>
        </table>
      </div>
    </section>

    <section class="p-company__access l-section">
      <div class="l-section__inner u-width--03">
        <h2 class="c-heading --center">アクセス</h2>
        <div class="p-company__access__content">
          <div class="p-company__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.3792067211525!2d139.69523261555116!3d35.69228493697244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cd69215fb87%3A0x37112e0e033375e!2z44CSMTYwLTAwMjMg5p2x5Lqs6YO95paw5a6_5Yy66KW_5paw5a6_77yR5LiB55uu77yW4oiS77yR!5e0!3m2!1sja!2sjp!4v1678854346221!5m2!1sja!2sjp" width="720" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="p-company__access__description">
            <dl class="p-company__difinition-list">
              <dt class="p-company__difinition-team">
                本社
              </dt>
              <dd class="p-company__difinition-data">
                〒163-1527<br>
                東京都新宿区西新宿1-6-1　新宿エルタワー27F
              </dd>
              <dt class="p-company__difinition-team">
                交通機関・最寄り駅
              </dt>
              <dd class="p-company__difinition-data--dots">
                ○○線 ■■駅北口より　徒歩5分
              </dd>
              <dd class="p-company__difinition-data--dots">
                ●●線 ■■駅北口より　徒歩5分
              </dd>
              <dd class="p-company__difinition-data--dots">
                ▲▲線 ■■駅東口より　徒歩5分
              </dd>
              <dd class="p-company__difinition-data--dots">
                ✕✕自動車道　△△ICより5分
              </dd>
            </dl>
            <button class="c-button"><a href="<%- rootPath %>/access/">VIEW MORE<span></span></a></button>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include("../_components/_recruit", { rootPath, pageData }) _%>
<%- include("../_components/_footer", { rootPath, pageData }) _%>
<%- include("../_components/_foot", { rootPath, pageData }) _%>
